# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
venv/
.env/
iot-edge-simulator/
# Logs
*.log

# IDE/editor specific
.vscode/
.idea/
*.exe
.env
mosquitto-testing
# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.backup
*.log
crash.log

# Terraform Provider Binaries (prevents .exe or large files)
terraform/.terraform/providers/**/terraform-provider-*

# OS generated
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs and temp
*.log
*.tmp
*.swp
*.exe