# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
venv/
.env/

# Logs
*.log

# IDE/editor specific
.vscode/
.idea/
*.exe
.env
mosquitto-testing
